{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <h2 class="center">Login</h2>
    <form method="post" class="login">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">{{error_username}}</td>
        </tr>
        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">{{error_password}}</td>
        </tr>
      </table>
      <div class="center error">{{error_login}}</div>
      <input type="submit">
    </form>
{% endblock %}