body {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 100%;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.error {
  color: red;
}
#container {
  max-width: 800px;
  margin: 0 auto;
}
/* LOGIN LOGOUT FORMS */
form.login, form.signup {
  width: 50%;
  margin: 0 auto;
}
form.login tr td:first-child,
form.signup tr td:first-child {
  text-align: right;
}
form.login table, form.signup table {
  width: 100%;
}
input[type=submit] {
  display: block;
  margin: 10px auto;
}

/* HOMEPAGE */
.main-title {
  display: block;
  color: #222;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: none;
}

.post + .post {
  margin-top: 15px;
}

.post-heading {
  position: relative;
  border-bottom: 3px solid #666;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.post-title:visisted {
  color: #333;
}

.post-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;

}

.post-content {
  margin-top: 5px;
}

.age {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: gray;
  font-size: 12px;
}


.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

/* BLOG */

form.blog {
  width: 50%;
  margin: 0 auto;
}

form.blog label {
  display: block;
  font-size: 20px;
}

form.blog label + label {
  margin-top: 20px;
}

form.blog input[type=text] {
  width: 500px;
  font-size: 20px;
  padding: 2px;
  font-family: monospace;
}

form.blog textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

form.blog input[type=submit] {
  font-size: 24px;  
}

.age {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: gray;
  font-size: 12px;
}