{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}<link type="text/css" rel="stylesheet" href="/css/home.css"/>{% endblock %}
{% block body %}
    <a href="/" class="main-title">
      Blog {{id}}
    </a>
    <div id="content">
      {% for post in posts %}
      <div class="post">
        <div class="post-heading">
          <a href="/{{post.key().id()}}" class="post-title">{{post.title}}</a>
          <div class="post-date">{{post.time.date()}}</div>
        </div>
        <pre class="post-content">{{post.content}}</pre>
      </div>
      <br><br>
      {% endfor %}
    </div>
{% endblock %}