{% extends 'base.html' %}
{% block title %}Add post{% endblock %}
{% block head %}<link type="text/css" rel="stylesheet" href="/css/post.css"/>{% endblock %}
{% block body %}
    <h2>New Post</h2>
    <form method="POST">
        <label>
            <div>Subject</div>
            <input type="text" name="subject" value="{{subject}}">
        </label>
        <label>
            <div>Your blog post</div>
            <textarea name="content">{{content}}</textarea>
        </label>
        <div class="error">{{error}}</div>
        <input type="submit">
    </form>
{% endblock %}